@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>Aqui é a página do leilão...</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="success-menssagem">@TempData["SuccessMessage"]</div>
}