@model IEnumerable<MvcAuction.Models.Leilao>

@{  Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
    ViewBag.Title = "Leilões disponíveis para lance";
}

@section Sidebar {
    <h3>This is my sidebar!</h3>
}

@section Featured {
    <section class="featured">
        <div class="content-wrapper">
            This is some featured content!
        </div>
    </section>
}


@section Scripts{
    <!-- ...... -->
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Criar Mercadoria", "NovoLeilao")
</p>


@foreach (var item in Model)
{ @Html.Partial("_LeilaoNome", item)
}


